{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<div  style="padding-top:80px;width:1100px;padding-bottom:275px;padding-left:10%;">
<h2>About</h2>
    <hr>
<p style="  text-align: justify;">Good day everyone and welcome to R Shine!<br>

We are a Canadian based company located in the Greater Montreal area and we are

happy to serve all of your design and printing needs. Whether it  is a custom gift for a special someone, a special day you want to celebrate with your loved ones and even your business printing needs, We Are Here For You!<br>

We believe that nothing is impossible and we will make it happen, whatever gift, design, project or event you have in mind, we will make it happen!<br>

Don't hesitate to contact us by phone or email, or on social media.
</p>

    <h5 style="position:absolute;right:350px;top:53%;">
        Sarah and Sam
    </h5>
<img src="{%static 'blog/images/sara and sam.webp'%}" style="width:200px;position:absolute;right:300px;top:55%;">

</div>



        {%endblock %}